<a href="https://colab.research.google.com/github/ronakbihani123/python_code_/blob/main/advanced_dictionary_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_dict = {
    'name': 'Ronak',
    'age': 22,
    'course': 'Python'
}
my_dict.values()

dict_values(['Ronak', 22, 'Python'])

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
s = "apple"
mydict = {}
for i in s:
  if i in mydict:
    mydict[i] += 1
  else:
    mydict[i] = 1
print(mydict)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
a = [1,2,3]
mydict = {}
for i in a:
  if( i not in mydict):
    mydict[i] = i*i
print(mydict)

{1: 1, 2: 4, 3: 9}

In [ ]:
mydict = {'a': 1, 'b': 2}
b = {}
for i in mydict.keys():

   temp = mydict[i]
   b[temp] = i
print(b)

a
b
{1: 'a', 2: 'b'}

In [ ]:
def func():

  s = ["I" ,"Love", "india", "I", "Love" ,"Coding"]
  mydict = {}

  for i in s:
    if(i in mydict):
      mydict[i] += 1
    else:
      mydict[i] = 1
  print(mydict)
func()

{'I': 2, 'Love': 2, 'india': 1, 'Coding': 1}

In [ ]:
keys = ['name', 'age', 'city']
values = ['Ronak', 22, 'Mumbai']
mydict = {}
for i in range(len(keys)):
  if keys[i] not in mydict:
    mydict[keys[i]] = values[i]


print(mydict)

{'name': 'Ronak', 'age': 22, 'city': 'Mumbai'}

In [ ]:
mydict = {"a" : 45 , "b" : 40 , "c" : 98}
max = mydict["a"]
for i in mydict:
  if(mydict[i]>max):
    max = i
print(max)

c

In [ ]:
mydict = {"a" : 45,"b" :98, "c":45 , "d":22}
unique_values = {}


for key, value in mydict.items():
  if value not in unique_values.values():
      unique_values[key] = value

print(unique_values)

{'a': 45, 'b': 98, 'd': 22}

In [ ]:
person = {
    "name": "Ronak",
    "address": {
        "city": "Mumbai",
        "pincode": 400001
    }
}
for key , value in person.items():
  if(type(value)==dict):
    for sub_key , sub_value in value.items():
      print(f"{key} {sub_key} = {sub_value}")
  else:
      print(f"{key} = {value}")

name = Ronak
address city = Mumbai
address pincode = 400001

In [26]:
data = [{'a': 1}, {'b': 2}, {'a': 3}, {'b': 4}]
# â†’ Output: {'a': [1,3], 'b': [2,4]}
mydict = {}
for i in data:

  for j in i:

    if( j in mydict):

      mydict[j].append(i[j])
    else:
      mydict[j] = [i[j]]
print(mydict)

{'a': [1, 3], 'b': [2, 4]}