<a href="https://colab.research.google.com/github/ronakbihani123/python_code_/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# #function
# block of code =>repeatative usage
# code readable , code reusability
# user defined ,inbuild functions
# user defined

In [ ]:
def greeting(z): #parameter  /  formal parameter /informal arguement
    print("hey welcome ",z,)

greeting("harsh")    #argument
greeting("ram")

hey welcome  harsh
hey welcome  ram

In [ ]:
greeting("yatik")

hey welcome  yatik

In [ ]:
def factors(num):

  for i in range(1,num+1):
    if(num%i==0):
      print("factors of ",num , "is",i)

In [ ]:
factors(8)

factors of  8 is 1
factors of  8 is 2
factors of  8 is 4
factors of  8 is 8

In [ ]:
def armstrong(n):

  count = 0

  temp = n
  while(temp>0):
    count+=1
    temp = temp // 10
  temp = n
  sum = 0
  while(temp > 0):
    sum +=(temp%10)**count
    temp = temp // 10
  if (n == sum):
    print("armstrong")
  else:
    print("not armstrong")

armstrong(153)

armstrong

In [ ]:
def func(id,name,salary):
  print(f"id is {id} name is {name} salary is {salary}")

In [ ]:
func(1,"yash",900)  #required argument  => parameter  = value/argument
func("yash",1,900)#position of argument matters here
func(id = 1 , salary = 900 , name = "yash")   #keyword argument

id is 1 name is yash salary is 900
id is yash name is 1 salary is 900
id is 1 name is yash salary is 900

In [ ]:
def func(id,name,salary):
  print(f"id is {id} name is {name} salary is {salary}")


func(10,salary = 1000,name = "abhishek")    #always makes sure keyword argument will come in last

id is 10 name is abhishek salary is 1000

In [ ]:
def func(id,name,salary = 9000):                              #default parameter
  print(f"id is {id} name is {name} salary is {salary}")

func(10,name = "abhishek")
func(10,name = "abhishek " , salary = 15000)
# func(10,salary = 1000,name = "abhishek")

id is 10 name is abhishek salary is 9000
id is 10 name is abhishek  salary is 15000

In [12]:
num1 = 12
num2 = 14
num3 = 26

if num1>num2 and num1>num3:
  greater = num1
elif num2>num1 and num2>num3:
  greater = num2
else:
  greater = num3
while(True):
   if(greater%num1 ==0 and greater%num2 == 0 and greater%num3 == 0):

    print(f"greater number is {greater}")
    break
   greater+=1

   #first class functions and its properties
   #call by value and #call by referncece

greater number is 1092