<a href="https://colab.research.google.com/github/ronakbihani123/python_code_/blob/main/functions_advanced_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def func():
  return("hello")

print(func())

hello

In [ ]:
def factorial (n):

  factorial = 1
  while(n>0):
    factorial *=n
    n = n-1

  print(factorial)

factorial(5)

120

In [ ]:
def prime (n):
  a = 0
  for i in range(2,n):
    if(n%i==0):
      a = 1
      break
  if(a == 1):
    print("not prime ")
  else:
    print("prime ")


prime(7)
prime(14)
prime(27)

prime
not prime
not prime

In [ ]:
a = "racecar"
b = a[::-1]
if(a==b):
  print("it is pallindrome")
else:
  print("not pallindrome")

it is pallindrome

In [ ]:
def pallindrome(a):

  for i in range (len(a)//2):
    if(a[i]!=a[-i-1]):
      print("not pallindrome")
      break
  else:
    print("pallindrome")

pallindrome("racecar")
pallindrome("hello")

pallindrome
not pallindrome

In [ ]:
def fun (*args):


  sum = 0
  average = 0
  for i in args:
    sum = sum+i
    average = sum//len(args)
  return(sum,average)
fun(1,2,3,4)

(10, 2)

In [ ]:
def fibonnaci1(n):

  a = 0
  b = 1
  print(a,b,end=" ")
  for i in range(2,n):
    next = a+b
    a = b
    b = next
    print(next,end=" ")

fibonnaci1(8)

0 1 1 2 3 5 8 13

In [ ]:
def sum_all(*args):
    total = 0
    for num in args:
      total+=num
    return total


print(sum_all (1,2,3))

6

In [ ]:
def func(**kwargs):
  for key,value in kwargs.items():
    print(key,"=" , value)



func(name = "ronak" , age = 22)

name = ronak
age = 22

In [ ]:
def num_sum(n):

  sum = 0
  while(n>0):
    sum+=n%10
    n = n//10
  print(sum)

num_sum(1234)
num_sum(120)

10
3

In [ ]:
def max_value (mylist):
  maximum = mylist[0]
  for i in mylist:
    if(i>maximum):
      maximum= i
  return maximum

mylist = [1,5,1,8,9]
max_value(mylist)

9

In [ ]:
def arm_num(n):
  count= 0
  temp = n

  while(temp>0):
    count+=1
    temp = temp//10
  temp = n
  sum = 0
  while(temp>0):
    rem = temp%10
    sum+=rem**count
    temp= temp//10

  if(n == sum):
    print("armstrong number", n)
  else:
    print("not armstrong number ",n)

arm_num(151)

not armstrong number  151

In [ ]:
def lcm (num1,num2):
  if(num1>num2):
    greater = num1

  else:
    greater = num2

  while(True):
    if (greater%num1 == 0 and greater%num2 == 0):
      break
    greater+=1
  print(greater)
lcm(4,5)

20

In [ ]:
def greet(name):
  return("hello ",name)

def another(func,value):
  return func(value)
print (another(greet,"ronak"))

('hello ', 'ronak')

In [ ]:
def fibonnaci(n):
  a= 0
  b= 1


  for i in range(2,n+1):

    if(i!=n):
      next = a+b
      a = b
      b = next
    else:
      return(b)


fibonnaci(7)

8

In [ ]:
a = lambda n : n*2
print(a(5))

10

In [ ]:
list1 = [1,2,3,4,5,6,7,8]
result = list(filter(lambda x : x%2==0 , list1))
print(result)

[2, 4, 6, 8]

In [ ]:
def is_even(number):
    return number % 2 == 0

numbers = [1, 2, 3, 4, 5, 6]
even_numbers_iterator = filter(is_even, numbers)
even_numbers_list = list(even_numbers_iterator)

print(even_numbers_list)

[2, 4, 6]

In [ ]:
def temp (a):

  newlist = []
  for i in a:
    F = (i * 9/5) + 32
    newlist.append(F)
  print(newlist)

temp([0,10,20,50,96])           #F = (C Ã— 9/5) + 32

[32.0, 50.0, 68.0, 122.0, 204.8]

In [ ]:
a = lambda c : (c * 9/5) + 32
print(list(map(a, [0,10,20,30,40])))

[32.0, 50.0, 68.0, 86.0, 104.0]

In [ ]:
def count(s):

  dictionary = {}
  for i in s:
    if(i in dictionary):
      dictionary[i]+=1
    else:
      dictionary[i]=1
  print(dictionary)

count("ram ram")

{'r': 2, 'a': 2, 'm': 2, ' ': 1}

In [ ]:
n = 4
k = 2
def power_func(base,exponent):

  def compute():
    return base**exponent
  return compute()

power_func(6,2)

36

In [ ]:
def func(a):
  if(a>0):
    return "positive"
  elif(a<0):
    return "negative"
  else:
    return "zero"
print(func(0))
print(func(4))
print(func(-8))

zero
positive
negative

In [ ]:
import time

# Decorator to measure execution time
def timer(func):
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        end = time.time()
        print(f"Execution time: {end - start:.5f} seconds")
        return result
    return wrapper

@timer
def slow_function():
    time.sleep(2)  # simulate long-running task
    print("Finished task")

# Run it
slow_function()

Finished task
Execution time: 2.00042 seconds

In [ ]:
s = "to be or not to be!"
result = ""
for i in s:
  ascii_value= ord(i)
  if(ascii_value%2==0):
    result = chr(ascii_value-32)
  else:
    result =i
  print(result,end="")

To Be oR NoT To Be!

In [ ]:
print(116-84)

32

In [ ]:
cities = ["hyderabed" , "chennai" , "delhi" , "mumbai"]
def print_len(list):
  return len(list)
print_len(cities)

4

In [ ]:
cities = ["hyderabed" , "chennai" , "delhi" , "mumbai"]
def print_element(list):
  for i in list:
    print(i,end=" ")
print_element(cities)

hyderabed chennai delhi mumbai