<a href="https://colab.research.google.com/github/ronakbihani123/python_code_/blob/main/pattern_solving_problems_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,5):

  for j in range(4,i-1,-1):
    print("* ", end = " ")
  print(" ")

*  *  *  *
*  *  *
*  *
*

In [39]:
for i in range(1,5):
  for j in range(1,5):
    print("*",end=" ")
  print(" ")

* * * *
* * * *
* * * *
* * * *

In [ ]:
x = 10
for i in range(1,4):

  for j in range(1,i+1):
    print(x,end=" ")
    x+=1
  print(" ")

10
11 12
13 14 15

In [ ]:
for i in range(1,5):
  a = 10
  for j in range(1,i+1):
    print((a), end=" ")
    a = a+1
  print(" ")

10
10 11
10 11 12
10 11 12 13

In [ ]:
for i in range (1,5):
  x = 65
  for j in range(1,i+1):
    print(chr(x) , end= " ")
    x+=1
  print(" ")

A
A B
A B C
A B C D

In [ ]:
for i in range(1,5):
  x = 68
  for j in range(1,i+1):
    print(chr(x),end = " ")
    x -=1
  print(" ")

D
D C
D C B
D C B A

In [ ]:
for i in range(4,0,-1):
  x= 68
  for j in range(i,0,-1):
    print(chr(x),end = " ")
    x-=1
  print(" ")

D C B A
D C B
D C
D

In [ ]:
for i in range(1,6):

  for j in range(1,i+1):
    if j%2!=0:
      print(1, end=" ")
    else:
      print(2, end=" ")
  print(" ")

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1

In [ ]:
x = 70
for i in range(1,5):

  for j in range(1,i+1):
     print(chr(x) , end = " ")
     x = x+2
  print(" ")

F
H J
L N P
R T V X

In [6]:
for i in range(4 , 0,-1):
  for s in range(4-i,0,-1):
    print(" ",end = " ")
  for j in range(i,0,-1):

    print("*",end= " ")
  print(" ")

* * * *
  * * *
    * *
      *

In [2]:
##Assignment pattern
for i in range (1,5):
  a = 1
  for j in range(1,i+1):
    print(a, end=" ")
    a+=1
  print(" ")

1
1 2
1 2 3
1 2 3 4

In [ ]:
a = 1
for i in range (1,5):

  for j in range(1,i+1):
    print(a, end=" ")
    a+=1
  print(" ")

1
2 3
4 5 6
7 8 9 10

In [ ]:
  a = 10
  for i in range(1,5):

    for j in range (1,i+1):
      print(a , end=" ")
      a-=1
    print(" ")

10
9 8
7 6 5
4 3 2 1

In [ ]:
for i in range (1,5):
  x= 65
  for j in range(1,i+1):
    print(chr(x),end = " ")
    x+=1
  print(" ")

A
A B
A B C
A B C D

In [ ]:
x = 65
for i in range(1,4):

  for j in range(1,i+1):
    print(chr(x), end=" ")
    x += 1
  print(" ")

A
B C
D E F

In [ ]:
x = 90
for i in range(1,4):

  for j in range(1,i+1):
    print(chr(x), end=" ")
    x -= 1
  print(" ")

Z
Y X
W V U

In [ ]:
for i in range(1,6):

  for j in range(1,i+1):
    if(j==1 or j==i or i==5):
     print("*" , end=" ")
    else:
      print(" ",end=" ")
  print(" ")

*
* *
*   *
*     *
* * * * *

In [ ]:
x = 97
y = 1

for i in range (1,5):

  for j in range(1,i+1):
    print(y,chr(x),end = " ")
    x+=1
    y+=1
  print(" ")

1 a
2 b 3 c
4 d 5 e 6 f
7 g 8 h 9 i 10 j

In [ ]:
#python pattern

In [8]:
for i in range(1,6):

  for j in range(1,i+1):
    print("*" ,end="")
  print(" ")

*
**
***
****
*****

In [11]:
for i in range(1,5):

  for j in range(1,i+1):
    print(j ,end="")
  print(" ")

1
12
123
1234

In [14]:
a = 1
for i in range(1,5):
  for j in range(1,i+1):
    print(a , end="")
    a +=1
  print(" ")

1
23
456
78910

In [16]:
for i in range(5,0,-1):

  for j in range(i,0,-1):
    print("*",end="")
  print(" ")

*****
****
***
**
*

In [18]:
for i in range(4,0,-1):
  x = 65
  for j in range(i,0,-1):
    print(chr(x), end="")
    x = x+1
  print(" ")

ABCD
ABC
AB
A

In [19]:
for i in range(1,5):

  for j in range(1,i+1):
    print(i,end="")
  print(" ")

1
22
333
4444

In [21]:
for i in range(4,0,-1):
  a = 4
  for j in range(i,0,-1):
    print(a , end="")
    a -=1
  print(" ")

4321
432
43
4

In [22]:
for i in range(1,5):
  x = 65
  for j in range(1,i+1):
    print(chr(x),end="")
    x+=1
  print(" ")

A
AB
ABC
ABCD

In [29]:
for i in range(5,0,-1):

  for j in range(1,i+1):
    print(j , end="")
  print(" ")

12345
1234
123
12
1

In [32]:

for i in range(7,1,-1):
  a =70
  for j in range(i,1,-1):
    print(chr(a),end="")
    a-=1
  print(" ")

FEDCBA
FEDCB
FEDC
FED
FE
F

In [38]:
for i in range(6,0,-1):

  for space in range(6-i,0,-1):
    print(" ",end=" ")
  for j in range(1,i):
    print("*",end=" ")
  print(" ")

* * * * *
  * * * *
    * * *
      * *
        *