<a href="https://colab.research.google.com/github/ronakbihani123/python_code_/blob/main/python_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#q1
n = int(input("enter a number"))
sum = 0
while(n>0):
  sum+=n%10
  n= n//10
print(sum)

enter a number43332
15

In [ ]:
#q2
a = "rishtedar"
count = 0
for digit in (a):
  if(digit=="a" or digit=="e" or digit=="i" or digit=="o" or digit=="u"):
    count+=1
print(count)

3

In [8]:
a = "khokho"
b = len(a)//2
if(len(a)%2==0):
  c = a[:b]
  d = a[b:]
else:
  c = a[:b]
  d = a[b+1:]
  print(c)
  print(d)
if c==d:
  print("string is symmetrical")
else:
  print("string is not symmetrical")

string is symmetrical

In [ ]:
n = 1634
count=0
sum = 0
temp = n
while temp>0:
  count+=1
  temp = temp //10
temp = n
while(temp >0):
  rem = temp %10
  sum+=rem**count
  temp = temp//10
if(sum==n):
  print("armstrong number")
else:
  print("not armstrong number")

armstrong number

In [ ]:
for i in range(1,5):

  for j in range(1,i+1):
    print("#",end="")
  print(" ")
for i in range(1,4):

  for j in range(1,4-i+1):
    print("#",end="")
  print(" ")

#
##
###
####
###
##
#