<a href="https://colab.research.google.com/github/ronakbihani123/python_code_/blob/main/toc_pattern_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#q1
for i in range(1,5):

  for j in range(1,i):
    print(" ",end="")

  for k in range(1,5):
    print("*",end="")
  print(" ")

****
 ****
  ****
   ****

In [ ]:
#q2
for i in range(1,8):

  for j in range(1,7):
    if( i%2!=0):
      if(i==1 or i==7  or j==1 or j==6):
        print("*",end="")
      else:
        print(" ",end="")
  print(" ")

******

*    *

*    *

******

In [ ]:
#q3
for i in range(1,6):
  x = 65
  for j in range(1,i+1):

    print(chr(x),end="")
    x+=1
  print(" ")

A
AB
ABC
ABCD
ABCDE

In [ ]:
#q4
x  = 65
for i in range(65,70):


  for j in range(65,i+1):

   print(chr(i) ,end=" ")
   x +=1
  print(" ")

A
B B
C C C
D D D D
E E E E E

In [15]:
#q5
for i in range(1,6):

  for j in range(i,0,-1):

      print(chr(69-j+1),end="")



  print( )

E
DE
CDE
BCDE
ABCDE

In [ ]:
#q6
for i in range(1,6):
  for k in range(1,5-i+1):
    print(" ",end=" ")

  for j in range(1,i+1):

    print("*",end=" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
#q6
for i in range(1,6):
  for j in range(1,5-i+1):
    print(" ",end=" ")

  for k in range(1,i+1):

    print(k,end=" ")
  print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [20]:
#q7
for i in range(1,6):
 for j in range(1,i):
    print(" ",end=" ")
 for j in range(1,6-i+1):
    print(j ,end=" ")

 print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [23]:
#q8
for i in range(1,6):
 x = 65
 for j in range(1,i):
    print(" ",end=" ")
 for j in range(1,6-i+1):
    print(chr(x),end=" ")
    x+=1

 print()

A B C D E
  A B C D
    A B C
      A B
        A

In [26]:
#q9
for i in range(1,6):

  for k in range(1,5-i+1):
    print(" ",end="")

  for j in range(1,6):
    print("*",end=" ")
  print()

    * * * * *
   * * * * *
  * * * * *
 * * * * *
* * * * *

In [28]:
#q10
for i in range(1,6):

  for k in range(1,5-i+1):
    print(" ",end="")

  for j in range(1,6):
    print(j,end=" ")
  print()

    1 2 3 4 5
   1 2 3 4 5
  1 2 3 4 5
 1 2 3 4 5
1 2 3 4 5

In [30]:
#q11
for i in range(1,6):
  x = 65
  for k in range(1,5-i+1):
    print(" ",end="")

  for j in range(1,6):

    print(chr(x),end=" ")
    x+=1
  print()

    A B C D E
   A B C D E
  A B C D E
 A B C D E
A B C D E

In [49]:
#q12
for i in range(1,5):

  for k in range(1,5-i+1):
    print(" ",end="")


  for j in range(0,2*i-1):


     print("*",end="")


  print(" ")

    *
   ***
  *****
 *******

In [89]:
#q13
for i in range(1,5):

  for k in range(1,5-i+1):
    print(" ",end="")


  for j in range(0,2*i-1):
    if(i==4 or i==1 or j==0 or j==i*2-2):

     print("*",end="")
    else:
      print(" ",end="")


  print(" ")

    *
   * *
  *   *
 *******

In [93]:
#q14
for i in range(1,5):

  for j in range(1,i):
    print(" ",end="")

  for k in range(1,9-i*2+1):
    print("*",end="")
  print()

*******
 *****
  ***
   *

In [96]:
#q15
for i in range(1,5):

  for j in range(1,i+1):
    print("*",end="")
  print()
for i in range(1,4):

  for j in range(1,4-i+1):
    print("*",end="")
  print()

*
**
***
****
***
**
*

In [99]:
#q16
for i in range(1,5):
  for k in range(1,4-i+1):
    print(" ",end="")

  for j in range(1,i+1):
    print("*",end="")
  print()
for i in range(1,4):
  for k in range(1,i+1):
    print(" ",end="")

  for j in range(1,4-i+1):
    print("*",end="")
  print()

   *
  **
 ***
****
 ***
  **
   *

In [109]:
#q17
for i in range(1,5):
  for k in range(1,5-i+1):
    print(" ",end="")

  for j in range(0,i*2-1):
    print("*",end="")
  print()
for i in range(1,4):
  for k in range(1,i+2):
    print(" ",end="")

  for j in range(0,6-i*2+1):
    print("*",end="")
  print()

    *
   ***
  *****
 *******
  *****
   ***
    *

In [112]:
#q17(a)
for i in range(1,6):
  x = 1
  for j in range(1,i+1):
    print(x,end=" ")
    x+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [113]:
#q17(b)
for i in range(1,6):
  x = 1
  for j in range(1,6-i+1):
    print(x,end=" ")
    x+=1
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [129]:
#q17(c)
for i in range(1,6):
  x = 1
  for j in range(1,i+1):
    if(i==5 or i==1 or j==1 or i==j):

     print(x,end=" ")

    else:
      print(" ",end=" ")
    x +=1

  print()

1
1 2
1   3
1     4
1 2 3 4 5

In [139]:
#q17(d)
x = 1
for i in range(1,6):

  for k in range(1,5-i+1):
    print(" ",end="")


  for j in range(i,):


     print(x,end="")



  print(" ")
  x+=1

    1
   22
  333
 4444
55555

In [149]:
#q18
for i in range(1,6):
  for k in range(1,5-i+1):
    print(" ",end="")

  for j in range(0,i*2-1):
    print("*",end="")
  print()
for i in range(1,6):
  for k in range(1,i+1):
    print(" ",end="")

  for j in range(0,9-i*2):
    print("*",end="")
  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [155]:
for i in range(1,6):
  x = 1
  for k in range(1,5-i+1):
    print(" ",end=" ")

  for j in range(0,i*2-1):
    print(x,end=" ")
    x+=1
  print()
for i in range(1,6):
  x = 1
  for k in range(1,i+1):
    print(" ",end=" ")

  for j in range(0,9-i*2):
    print(x,end=" ")
    x+=1
  print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [171]:
for i in range(1,6):
  x = 1
  for k in range(1,i):
    print(" ",end=" ")
  for j in range(0,10-i*2+1):
    print(x,end=" ")
    x+=1
  print()
for i in range(1,5):
  for k in range(1,4-i+1):
    print(" ",end=" ")
  for j in range(1,i*2+2):
    print(j,end=" ")
  print()

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [175]:
for i in range(1,6):

  for j in range(1,6):
    if(i==1 or i==5 or j==1 or j==5):
     print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [181]:
for i in range(1,6):
  for k in range(1,5-i+1):
    print(" ",end="")

  for j in range(0,i*2-1):
    if(j==0 or j==i*2-2):
      print("*",end="")
    else:
      print(" ",end="")

  print()
for i in range(1,6):
  for k in range(1,i+1):
    print(" ",end="")

  for j in range(0,9-i*2):
    if(j==0 or j==8-i*2):
      print("*",end="")
    else:
      print(" ",end="")
  print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *